<div class="d-flex flex-row col-sm">
   <div class="input-group mb-3">
    <div class="input-group-prepend">
      <button class="btn btn-outline-secondary dropdown-toggle" 
              type="button" data-toggle="dropdown" aria-haspopup="true" 
              aria-expanded="true">

              {{'search.type' | translate:{value:'สยอง'} }}

      </button>
      <ul class="dropdown-menu">
        <li class="dropdown-item" href="#">Action</li>
        <li class="dropdown-item" href="#">Another action</li>
        <li class="dropdown-item" href="#">Something else here</li>
      </ul>
    </div>
    <input #searchBar type="text" class="form-control" aria-label="Text input with dropdown button">
    <div class="col-sm-1 pr-0">
        <button class="btn btn-primary col-sm" type="submit">Search</button>
    </div>
    
</div> 

</div>

  